<!DOCTYPE html>
<html>
<head>
    <title>Orders Dashboard</title>
</head>
<body>
    <h1>Recent Orders</h1>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Product Name</th>
            <th>Date of Purchase</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order['OrderID'] }}</td>
            <td>{{ order['ProductName'] }}</td>
            <td>{{ order['DateOfPurchase'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
